[
  {
    "id": 1,
    "name": "Mrs. GREEN APPLE"
  },
  {
    "id": 2,
    "name": "SEKAI NO OWARI"
  },
  {
    "id": 3,
    "name": "Da-iCE"
  },
  {
    "id": 4,
    "name": "LiSA"
  },
  {
    "id": 5,
    "name": "Foorin"
  },
  {
    "id": 6,
    "name": "乃木坂46"
  },
  {
    "id": 7,
    "name": "西野カナ"
  },
  {
    "id": 8,
    "name": "三代目 J Soul Brothers from EXILE TRIBE"
  },
  {
    "id": 9,
    "name": "EXILE"
  },
  {
    "id": 10,
    "name": "AKB48"
  },
  {
    "id": 11,
    "name": "コブクロ"
  },
  {
    "id": 12,
    "name": "氷川きよし"
  },
  {
    "id": 13,
    "name": "倖田來未"
  },
  {
    "id": 14,
    "name": "Mr.Children"
  },
  {
    "id": 15,
    "name": "浜崎あゆみ"
  },
  {
    "id": 16,
    "name": "サザンオールスターズ"
  }
]